<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}
{% block body %}
<div>
    <p>Name : {{item.name}} </p>
    <p>Price : {{item.price}} </p>
</div>
<div>
    Add new name or price
</div>
<div>
    Leaving field empty keeps the old value
</div>
<div>
    <form method="POST" action="{{url_for('items.item_update',item_id=item.id)}}">
        <div>
            <div>Name:</div>
            <input type="text" name="name">
            <div>Price:</div>
            <input type="text" name="price">
        </div>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}