<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}

<!-- This page is for managing itemlist-->
{% block body %}
<h2 style="margin: 20px;margin-left: 0px">ItemList</h2>
<div class="lead">
  Your possible purchase options. You can add more items to this list below. You can also edit or remove item.
</div>
<div>
  <!--List items already on itemlist and option to edit or remove them-->
  <table style="border-collapse: collapse">
    <tr>
      <th>Name</th>
      <th>Price</th>
      {% for item in itemlist %}
    </tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>
      <form method="GET" action="{{url_for('items.item_view',item_id=item.id)}}">
          <button type="submit" class="btn btn-primary">Edit</button>
      </form>

    </td>
    <!--Only admin can remove item from itemlist-->
    {% if current_user.is_admin() %}
    <td>
      <form method="POST" action="{{url_for('items.item_remove',item_id=item.id)}}">
      <button type="submit" class="btn btn-primary">Remove</button>
      </form>
    </td>
    {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
<br>

<!--Form for adding new item to itemlist-->
<div class="lead">Add new item</div>

<form method="POST" action="{{ url_for('items.item_create') }}">
    {{ form.csrf_token }}
    <div class="form-group">
      {{wtf.form_field(form.name,class="form-control")}}
    </div>
    <div class="form-group">
        {{wtf.form_field(form.price,class="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}