<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}
{% block body %}
<div>
    <p>
        <div>Name : {{item.name}}</div>
        <div>Price : {{item.price}}</div>
    </p>
</div>
<div>
    Add new name or price
</div>
<div>
    Leaving field empty keeps the old value
</div>
<div>
    <form method="POST" action="{{url_for('items.item_update',item_id=item.id)}}">
        <div>
            {{form.name.label}}
            {{form.name}}
        </div>
        <div>
            {{form.price.label}}
            {{form.price}}
        </div>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}