<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}

{% block body %}
<div>
  Your possible purchase options. You can add more items to this list below. You can also edit or remove item.
</div>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      {% for item in itemlist %}
    </tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>
      <form method="GET" action="{{url_for('items.item_view',item_id=item.id)}}">
        <input type="submit" value="Edit" />
      </form>

    </td>
    <td>
      <form method="POST" action="{{url_for('items.item_remove',item_id=item.id)}}">
        <input type="submit" value="Remove" />
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>Add new item</div>
<div>
  <form method="POST" action="{{ url_for('items.item_create') }}">
    <div>Name:</div>
    <input type="text" name="name" />
    <div>Price:</div>
    <input type="text" name="price" />
</div>
<input type="submit" value="Add a new item" />
</form>
</div>

{% endblock %}