<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}

{% block body %}
<div>
  Your possible purchase options. You can add more items to this list below. You can also edit or remove item.
</div>
<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      {% for item in itemlist %}
    </tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>
      <form method="GET" action="{{url_for('items.item_view',item_id=item.id)}}">
        <input type="submit" value="Edit" />
      </form>

    </td>
    <td>
      <form method="POST" action="{{url_for('items.item_remove',item_id=item.id)}}">
        <input type="submit" value="Remove" />
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
</div>
<br>
<div>Add new item</div>
<form method="POST" action="{{ url_for('items.item_create') }}">
    {{ form.csrf_token }}
  <table>
    <tr>
      <td>
        {{form.name.label}}
        {{form.name}}
        
      </td>
      <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    <tr>
      <td>
        {{form.price.label}}
        {{form.price}}
      </td>
      <td>
        <ul>
          {% for error in form.price.errors %}
          <li>{{error}}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Add a new item" />
      </td>
    </tr>
  </table>
</form>
</div>

{% endblock %}