<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}

<!--Register page-->
{% block body %}
<div>Register here</div>
<br>
<div>Enter your name, username and password</div>
<form method="POST" action="{{url_for('auth.auth_register')}}">
    <table>
        <tr>
            <td>
                {{form.name.label}}
                {{form.name}}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{form.username.label}}
                {{form.username}}
            </td>
            <td>
                <ul>
                    {% for error in form.username.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{form.password.label}}
                {{form.password}}
            </td>
            <td>
                <ul>
                    {% for error in form.password.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
</form>
<div>{{error}}</div>
{% endblock %}