<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}

{% block body %}

<!-- Page for adding new grocerylist to account-->
<h2>Add new grocerylist</h2>   
<form method="POST" action="{{ url_for('groceries.grocerylists_new') }}">
    <div class="form-group">
        {{wtf.form_field(form.name,class="form-control",placeholder="Name of your grocerylist")}}
    </div>
    <button type="submit" class="btn btn-primary">Create new grocerylist!</button>
</form>



{% endblock %}