<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}


<!-- Page to show user grocerylist and add items to grocerylist-->
{% block body %}
    <!--Check if user has a grocerylist -->
    {% if grocerylist is not none %}
    <h2 style="margin: 20px;margin-left: 0px">GroceryList</h2>

        <!--Display empty message if theres no items on list-->
        {% if grocerylist.items|length==0 %}
            <div class="lead">Your list is empty!</div>

        <!--List items on grocerylist-->
        {% else %}
            <div class="lead">Remove item from grocerylist by pressing "Remove" and mark grocery being bought by pressing "Buy" </div>
            <table style="border-collapse: collapse">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>

                <!--List items on grocerylist and display button to remove them from list-->
                {% for groceryitem in grocerylist.items %}
                    <tr>
                        <td>{{groceryitem.item.name}}</td>
                        <td>{{groceryitem.item.price}}</td>
                        <td>
                            <form method="POST" action="{{url_for('groceries.groceries_remove',grocery_id=groceryitem.id)}}">
                                <button type="submit" class="btn btn-primary">Remove</button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{{url_for('groceries.grocerylist_buy',grocery_id=groceryitem.id)}}">
                                <button type="submit" class="btn btn-primary">Buy</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <!--If grocerylist sum is available, display it-->
                {% if sum is defined %}
                    
                    <tr style="border-top:1px solid black">
                        <td>Total:</td>
                        <td>{{sum}}</td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
        <br>

        <!--Print item choices and button to add it to grocerylist-->
        <div class="lead" style="margin: 15px;margin-left: 0px">Add items to your grocerylist by pressing Add!</div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                {% for item in itemlist %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <form method="POST" action="{{ url_for('groceries.grocerylist_add',item_id=item.id) }}">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </td>
                        
                    </tr>
                {% endfor %}
            </table>


        </div>

    <!-- If user does not have a own grocerylist yet -->    
    {% else %}
    <div class="lead">You dont have a grocerylist yet</div>
    {% endif %}

{% endblock %}