<!-- Uses default page layout from main/templates/layout.html -->
{% extends "layout.html" %}

<!--Page for editing archiveitem properties-->
{% block body %}

<!--Display archiveitem properties-->
<div class="lead">
    <div>Name: {{archiveitem.item.name}}</div>
    <div>Price: {{archiveitem.item.price}}</div>
    <div>Date: {{archiveitem.date_bought}} </div>
</div>

<br>

<div class="lead">
    Edit date by typing correct buy date below
</div>

<!--Form to edit archiveitem date-->
<div>
    <form method="POST" action="{{url_for('archive.archive_edit',archiveitem_id=archiveitem.id)}}">
        <div class="form-group">
            
        </div>
        <div class="row">
            <div class="col">
                {{wtf.form_field(form.date,class="form-control")}}
            </div>
            <div class="col">

            </div>
            
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}